<h1>Hello</h1>

<p>greetings from {{name}}</p>
<p>Our location is {{latitude}}</p>
<p>Our longitude is {{longitude}}</p>
<p>We are currently travelling at {{velocity}} kph at an altitude of {{altitude}} km.</p>
